@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 233 63% 15%;
    --foreground: 0 0% 98%;
    --card: 233 63% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 233 63% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 233 63% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 63% 22%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 36 100% 50%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 63% 25%;
    --input: 233 63% 25%;
    --ring: 231 48% 54%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
